@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
    --font-roboto: "Roboto", sans-serif; 
    --font-quicksand: "Quicksand", sans-serif; 
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@media (max-width:900px) {
  .btn-1{
    width: 65px;
    font-size: 15px;
  }
  .btn-2{
    width: 95px;
    font-size: 15px;
  }
}
@media (max-width:450px) {
  .btn-1{
    width: 50px;
    font-size: 12px;
  }
  .btn-2{
    width: 80px;
    font-size: 12px;
  }
}